<head>
    <meta charset="utf-8">
    <title>IP_Cook</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="" />
    <meta name="keywords" content="cookbook, customize recipe, gluten free recipe, gluten free desserts, healthy food, low sugar recipe, low sugar desserts" />
    <meta name="author" content="Iuliia Pishchulina, ip" />

    <link rel="icon" href="{{'/assets/images/pusheen-cook.jpg' | relative_url }}">

    <link rel="stylesheet" href= "{{ '/assets/styles.css' | relative_url }}">

</head>
