<!-- Concept, Design and Code based on Gareth Williams portfolio
http://www.garethspictures.com/ -->
<nav class="navigation">
    <div class="nav-holder">
        <div class="menu"></div>
        <div class="nav-trace" id="nav-toggler"></div>
        <div id="nav-menu">
            {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
            {% for p in navigation_pages %}
            {% if p.navigation_weight %}
            <a class="{{ p.title }} circle menu-item" href="{{ p.url }}"><span>{{ p.title }}</span></a>

            {% endif %}
            {% endfor %}
                <a class="add-new circle menu-item" aria-disabled="true"></a>
        </div>

    </div>
    <div class="navigation-fade" id="nav-fade"></div>

</nav>
