
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
h1 {
    color: red;
}

html { height: 100%; }

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background: #f9f9f9;
    font-weight: 300;
    font-size: 15px;
    color: #333;
    overflow: scroll;
    overflow-x: hidden;
}
header {
    background-color: #f9f9f9;;
    width: calc(100% - 100px);
   overflow: overlay;
    position: fixed;
    top:0;
    z-index: 1000;
}
main {
    padding-top: 100px;
    position: relative;
    top: 100px;
}
a {
    text-decoration: none;
}
/*navigation styles*/
/*.navigation.expanded {*/
    /*opacity: 1;*/
    /*z-index: 1000;*/
    /*background-color: rgba(0,0,0,0.8);*/
    /*width: 100%;*/
    /*height: 1000px;*/
    /*position: fixed;*/
    /*bottom: 0;*/
/*}*/
.navigation {
    position: relative;
}

.nav-holder {
    width: 80px;
    height: 80px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
}

.nav-holder .menu {
    position: fixed;
    right: 0;
    top: 0;
    height: 80px;
    width: 80px;
    z-index: 6;
}

.nav-holder .menu::before {
    content: "menu";
    position: absolute;
    right: 0;
    top: 8px;
    font-size: 1.4em;
    background: rgba(1,1,1,0.64);
    padding: 2px 6px;
    color: #f9f9f9;

}
.navigation-fade {
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    position: fixed;
    z-index: 1
}
.nav-trace {
    width: 120px;
    height: 120px;
    position: absolute;
    top: -48px;
    left: 8px;
    border: none;
    z-index: 100;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

.nav-trace.expanded {
    border-radius: 50%;
    border-bottom: 2px dashed #f9f9f9;
    border-left: 2px dashed #f9f9f9;
    background-color: rgba(167, 166, 166, 0.24);
}

.nav-holder a  {
    border-radius: 50%;
}
.circle span {
    font-family: "sans-serif";
    text-align: center;
    display: block;
    top: 60px;
    position: relative;
    font-size: 2em;
    opacity: 0;
    color: white;
}
.circle span::first-letter {
    text-transform: uppercase;
}
.all {
    width: 60px;
    height: 60px;
    background-color: rgb(12, 45, 156);
    position: fixed;
    right: -20px;
    top: -20px;
    z-index: 5
}
/*.all span {*/
    /*font-family: "sans-serif";*/
    /*text-align: center;*/
    /*display: block;*/
    /*top: 60px;*/
    /*position: relative;*/
    /*font-size: 2em;*/
    /*opacity: 0;*/
    /*color: white;*/
    /*z-index: 1000*/
/*}*/

.appetizers {
    width: 80px;
    height: 80px;
    background-color: rgb(242, 120, 183);
    position: fixed;
    right: -30px;
    top: -30px;
    z-index: 4;
}

.main {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 190, 17);
    position: fixed;
    right: -40px;
    top: -40px;
    z-index: 3;
}
.desserts {
    width: 120px;
    height: 120px;
    background-color: rgb(16, 198, 202);
    position: fixed;
    right: -50px;
    top: -50px;
    z-index: 2;
}
.add-new {
    width: 140px;
    height: 140px;
    background-color: rgb(91, 38, 105);
    position: fixed;
    right: -60px;
    top: -60px;
    z-index:1;
}
/*Tag styling*/
.tag{
    float:left;
    margin: 7px 20px;
    position: relative;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;

    color: rgb(91, 38, 105);

    padding: 5px;
    padding-left: 20px;
    border: 2px solid rgb(91, 38, 105);
    border-left: none;
    border-radius: 5%;
}
.tag::before {
    content:'';

    width: 21px;
    height: 21px;

    position:absolute;
    left: -10px;
    top: 3px;

    /*-webkit-transform:rotate(45deg);*/
    /*-moz-transform:rotate(45deg);*/
    /*-o-transform:rotate(45deg);*/
    transform:rotate(45deg);

    border-left: 2px solid rgb(91, 38, 105);
    border-bottom: 2px solid rgb(91, 38, 105);

    /*-webkit-border-radius:0 0 0 0.25em;*/
    /*-moz-border-radius:0 0 0 0.25em;*/
    border-radius: 17%;

}
.tag::after {
    content:'';

    width: 8px;
    height: 8px;

    background: #fff;

    /*-webkit-border-radius:4.167em;*/
    /*-moz-border-radius:4.167em;*/
    border-radius: 50%;

    border: 2px solid rgb(91, 38, 105);
    position: absolute;
    top: 9px;
    left: 0;
}

/*thumnail gallry styling*/

.thumbnail {
    list-style: none;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 860px;
}

.thumbnail li {
    display: inline-block;
    margin: 10px 5px 0 5px;
    vertical-align: top;
    min-height: 250px;
    cursor: pointer;
}

.thumbnail img {
    width: 200px;
    height: 200px;
}

.thumbnail-wrapper {
    box-sizing: border-box;
    position: relative;
}

.thumbnail li.parent {
height: initial;
    margin-bottom: 10px;
}

.thumbnail li.expanded .thumbnail-wrapper::after {
    top: auto;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #ddd;
    border-width: 15px;
    left: 50%;
    margin: -19px 0 0 -15px;
}
.thumbnail-link {
    display: inline-block;
    text-decoration: none;
    max-width: 200px;
    height: auto;
}
.thumbnail-link div {

    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thumbnail-link h3 {
    color: initial;
    font-weight: 400;
    margin: 10px;
}
/*preview styles*/
.preview {
    position: absolute;
    background: #ddd;
    top: auto;
    left: 0;
    width: 100%;
    margin-top: 11px;
    text-align: left;
    height: auto;

    cursor: auto;
    overflow: hidden;

}

.preview-inner {
    padding: 50px 30px;
    height: 100%;
    display: grid;
    grid-template-areas: 'image details'
}

.preview-close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    cursor: pointer;

}
.preview-close:before,
.preview-close:after {

    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    height: 1px;
    background: #888;
}
.preview-close:before {
    transform: rotate(-45deg);
}
.preview-close:after {
    transform: rotate(45deg);
}

.preview-image {
grid-area: image;
    display: flex;

    flex-direction: column;
    align-items: flex-end;
    border: none;
    margin-right: 20px;
}

.preview-details {
grid-area: details;
    height: 100%;
    border: none;
    padding: 0 40px 0 20px;

}

.preview-details h3 {
    font-weight: 300;
    font-size: 52px;
    line-height: 35px;
    padding: 0 0 10px;
    margin: 0;
}

.preview-details h4 {
    font-weight: 300;
    font-size: 36px;
    margin: 0;

}

.preview-details table {

    width: 100%;
    max-width: 500px;
}
.preview-details table th {
     padding: 0;
 }
.preview-details table th td{
  letter-spacing: 1.3px;
    font-size: 20px;
}
.preview-details table td {
    padding: 5px;
    font-size: 18px;
}
.preview-details table .ingredient {
    width: 70%;

}

.preview-details table .amount {
    width: 30%;

}

.preview-btn-holder {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.preview-btn-holder a {

    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 0;
    border: 3px solid #333;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 30px 0 0;
    outline: none;
    cursor: pointer;
    width: 200px;
}

@media screen and (max-width: 830px) {

    .preview-details h3 { font-size: 32px; line-height: 23px; }


}

@media screen and (max-width: 650px) {

    .preview-image img { display: none; }
    .preview-inner {
        grid-template-areas: 'details' 'image';
        margin-right: 0;
        padding: 20px;
    }
    .preview-btn-holder {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }
    .preview-btn-holder a {
        margin: 0;
    }

}
@media screen and (max-width: 520px) {

    .preview-btn-holder {
        flex-direction: column;
       align-items: center;

    }
    .preview-btn-holder a {
        margin: 10px 0;
    }



}
