---
---

$media-queries: (
        large: (breakpoint: '(min-width: 830px)'),
        normal: (breakpoint: '(min-width: 651px)'),
        small: (breakpoint: '(min-width: 521px)'),
        extrasmall: (breakpoint: '(max-width: 520px)')
);
@mixin media-query ($size) {
  @each $item, $value in $media-queries {
    @if $item == $size {
      @if map-get($value, breakpoint) != null {
        @media only screen and #{map-get($value, breakpoint)} {
          @content;
        }
      }
    }
  }
}

$color-base: #f9f9f9;
$blue: rgb(12, 45, 156);
$yellow: rgb(255, 190, 17);
$pink: rgb(242, 120, 183);
$violet: rgb(91, 38, 105);
$light-blue: rgb(16, 198, 202);
$light-gray: #ddd;
$gray: #888;
$font-lato: 'Lato', Calibri, Arial, sans-serif;

$font-light: 300;
$font-normal: 400;
$font-bold: 700;

$desserts: $light-blue;
$main: $yellow;
$appetizers: $pink;

html {
  height: 100%;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-lato;
  background: $color-base;
  font-weight: $font-light;
  color: #333;
  overflow: scroll;
  overflow-x: hidden;
}

header {
  background-color: $color-base;
  width: calc(100% - 100px);
  overflow: overlay;
}

a {
  text-decoration: none;
}
h1, h2, h3, th {
  &::first-letter {
    text-transform: uppercase;
  }
}

.navigation {
  position: relative;
}

@mixin nav-positioning() {
  position: fixed;
  right: 0;
  top: 0;
  height: 80px;
  width: 80px;
}

.nav-holder {
  @include nav-positioning();
  z-index: 300;
  .menu {
    @include nav-positioning();
    z-index: 260;
  }
  .menu::before {
    content: "menu";
    position: absolute;
    right: 0;
    top: 8px;
    font-size: 1.4em;
    background: rgba(1, 1, 1, 0.64);
    padding: 2px 6px;
    color: $color-base;
  }
}

.navigation-fade {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  position: fixed;
  z-index: 200
}

.nav-trace {
  width: 120px;
  height: 120px;
  position: absolute;
  top: -48px;
  left: 8px;
  border: none;
  z-index: 300;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.nav-trace.expanded {
  border-radius: 50%;
  border-bottom: 2px dashed $color-base;
  border-left: 2px dashed $color-base;
  background-color: rgba(167, 166, 166, 0.24);
}

.circle {
  border-radius: 50%;
}
@mixin circle-position ($position, $z) {
  position: fixed;
  right: $position * 1px;
  top: $position * 1px;
  z-index: $z
}
@mixin circle-size-color ($size, $color) {
  width: $size * 1px;
  height: $size * 1px;
  background-color: $color;
}
.navigation {
  .circle span {
    font-family: "sans-serif";
    text-align: center;
    display: block;
    top: 60px;
    position: relative;
    font-size: 2em;
    opacity: 0;
    color: white;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  .all {
    @include circle-position(-20, 250);
    @include circle-size-color (60, $blue);
  }

  .appetizers {
    @include circle-position(-30, 240);
    @include circle-size-color (80, $pink);
  }

  .main {
    @include circle-position( -40, 230);
    @include circle-size-color (100, $yellow);
  }

  .desserts {
    @include circle-position(-50, 220);
    @include circle-size-color (120, $light-blue);
  }

  .add-new {
    @include circle-position( -60, 210);
    @include circle-size-color(140, $violet);
  }
}
//$breadcrumb-size: 60;
//.breadcrumbs {
//  width: 100%;
//  height: 90px;
//  border: 1px solid black;
//  .circle {
//    display: inline-block;
//    margin: 10px;
//    &.all {
//      @include circle-size-color ($breadcrumb-size, $blue);
//    }
//    &.desserts {
//      @include circle-size-color ($breadcrumb-size, $light-blue);
//    }
//    span {
//      color: black;
//    }
//  }
//}


/*Tag styling*/
//.tag {
//    float: left;
//    margin: 7px 20px;
//    position: relative;
//    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
//    font-size: 14px;
//    font-weight: $font-bold;
//    text-decoration: none;
//
//    color: rgb(91, 38, 105);
//
//    padding: 5px;
//    padding-left: 20px;
//    border: 2px solid rgb(91, 38, 105);
//    border-left: none;
//    border-radius: 5%;
//}
//
//.tag::before {
//    content: '';
//
//    width: 21px;
//    height: 21px;
//
//    position: absolute;
//    left: -10px;
//    top: 3px;

/*-webkit-transform:rotate(45deg);*/
/*-moz-transform:rotate(45deg);*/
/*-o-transform:rotate(45deg);*/
//    transform: rotate(45deg);
//
//    border-left: 2px solid rgb(91, 38, 105);
//    border-bottom: 2px solid rgb(91, 38, 105);
//
//    /*-webkit-border-radius:0 0 0 0.25em;*/
//    /*-moz-border-radius:0 0 0 0.25em;*/
//    border-radius: 17%;
//
//}

//.tag::after {
//    content: '';
//
//    width: 8px;
//    height: 8px;
//
//    background: #fff;
//
//    /*-webkit-border-radius:4.167em;*/
//    /*-moz-border-radius:4.167em;*/
//    border-radius: 50%;
//
//    border: 2px solid rgb(91, 38, 105);
//    position: absolute;
//    top: 9px;
//    left: 0;
//}
//
//.tag.active, .tag.active::before, .tag.active::after {
//    background-color: rgb(91, 38, 105);
//    color: #fff
//}
//
//.tag.active::after {
//    border-color: #fff
//}

/*thumnail gallry styling*/

.thumbnail {
  list-style: none;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  width: 80%;
  @include media-query(small) {
   width: 85%
  }
  @include media-query(large) {
    width: 100%
  }
  max-width: 780px;
  li {
    display: inline-block;
    margin: 10px 5px 0 5px;
    vertical-align: top;
    min-height: 250px;
    cursor: pointer;
    &.parent {
      height: initial;
      margin-bottom: 10px;
    }
  };
  img {
    width: 200px;
    height: 200px;
    background-color: $light-gray;
  }
}

.thumbnail-wrapper {
  box-sizing: border-box;
  position: relative;
}

.thumbnail li.expanded .thumbnail-wrapper::after {
  top: auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: $light-gray;
  border-width: 15px;
  left: 50%;
  margin: -19px 0 0 -15px;
}

.thumbnail-link {
  display: inline-block;
  text-decoration: none;
  max-width: 200px;
  height: auto;
  div {
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
  };
  h3 {
    color: initial;
    font-weight: $font-normal;
    margin: 10px;
  }
}

/*preview styles*/
.preview {
  position: absolute;
  background: $light-gray;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 11px;
  text-align: left;
  height: auto;
  cursor: auto;
  overflow: hidden;
}

.preview-inner {
  padding: 50px 30px;
  height: 100%;
  display: grid;
  grid-template-areas: 'details' 'image';
  @include media-query(small) {
    grid-template-areas: 'image details';
    margin-right: 0;
    padding: 20px;
  }
}

.preview-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    height: 1px;
    background: $gray;
  }
  &:before {
    transform: rotate(-45deg);
  };
  &:after {
    transform: rotate(45deg);
  }
}

.preview-image {
  @include media-query(extrasmall) {
    img {
      display: none;
    }
  }
  grid-area: image;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: none;
  margin-right: 20px;
}

.preview-details {
  grid-area: details;
  height: 100%;
  border: none;
  padding: 0 40px 0 20px;
  h3 {
    font-weight: $font-light;
    font-size: 32px;
    line-height: 32px;
    padding: 0 0 10px;
    margin: 0;
    @include media-query(large) {
      font-size: 52px;
      line-height: 52px;
    }
  };
  h4 {
    font-weight: $font-light;
    font-size: 36px;
    margin: 0;
  };
  table {
    width: 100%;
    max-width: 500px;
  }
}

.ingredient-table {
  border-spacing: 0;
  td {
    padding: 5px 0;
    font-size: 18px;
  }
  th {
    padding: 0;
    letter-spacing: 1.3px;
    font-size: 20px;
    font-weight: $font-normal;
    text-align: start;
    .ingredient {
      width: 70%;
    }
    .amount {
      width: 30%;
    }
  }
  th::after {
    content: ':'
  }
}

.preview-btn-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include media-query(small) {
    align-items: flex-end;
  }
  a {
    display: inline-block;
    font-weight: $font-bold;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 0;
    border: 3px solid #333;
    text-align: center;
    text-decoration: none;
    margin: 10px 0;
    @include media-query(small) {
      flex-direction: row;
      width: 200px;
      margin: 30px 0 0;
    }
    outline: none;
    cursor: pointer;
    width: 200px;
  }
}

/***************Recipe page***************************/
@mixin category-colors($category) {
  .card-header {
    background-color: $category;
  };
  span {
    color: $category
  }
}
@mixin border-style($category) {
  border: 2px solid $category;
}
.recipe-card {
  width: 75%;
  border: 2px solid rgb(16, 198, 202);
  margin: 20px auto;
  position: relative;
  &.category-desserts {
    @include category-colors($desserts);
    @include border-style($desserts)
  }
  &.category-main {
    @include category-colors($main);
    @include border-style($main)
  }
  &.category-appetizers {
    @include category-colors($appetizers);
    @include border-style($appetizers)
  }
  @include media-query(large) {
    min-height: calc(100vh - 40px);
    max-height: calc(100vh - 40px);
  }
}

.recipe-card h3 {
  letter-spacing: 1.3px;
  font-size: 20px;
}

.recipe-card .span-wrapper {
  display: flex;
  padding: 10px;
  span {
    padding: 2px 5px;
    margin: 2px;
    height: min-content;
  }
}

.card-header-wrapper {
  height: auto;
  position: relative;
  display: flex;
  @include media-query(small) {
    height: 120px;
  }
}

.card-header {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  padding: 5px 5px 5px 10px;
  color: #fff;
  img {
    width: 100px;
    height: 100px;
    margin: 10px;
    align-self: flex-start;
    position: absolute;
    top: 0;
  }
  h1 {
    margin-left: 0;
  }
  img{
    display: none;
  }
  @include media-query(small) {
    height: 70px;
    img {
     display: initial;
    }
    h1 {
      margin-left: 130px;
    }
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  h3 {
    padding: 5px 0 5px 10px;
    border: 1px solid $violet;
    &::after {
      content: ':'
    }
  }
  @include media-query(large) {
    flex-direction: row;
    position: absolute;
    top: 120px;
    bottom: 0;
  }
}

.card-left {
  width: 100%;
  height: auto;
  background-color: rgba(91, 38, 105, 0.2);
  h3 {
    color: #fff;
    background-color: $violet
  }
  .ingredient-table {
    width: 100%;
    padding-left: 20px;
  }
  @include media-query(large) {
    width: 35%;
  }
}

.card-right {
  width: 100%;
  @include media-query(large) {
    width: 65%;
    overflow: hidden;
  }
  h3 {
    color: $violet;
    border-right: none;
    border-left: none;
    margin-right: -17px;
    position: sticky;
    top: 0;
    background-color: $color-base;
  }
  ol {
    margin-left: 20px;
    font-family: 'Lato', 'Montserrat', sans-serif;;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 1.2px;
    padding: 0;
    counter-reset: item;
  }
  ol li {
    margin: 10px 0;
    list-style-type: none;
    counter-increment: item;
  }
}

.scroll-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
  visibility: hidden;
  & > * {
    visibility: visible;
  }
  @include media-query(large) {
    visibility: visible;
  }
}

ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 1.2em;
  font-weight: $font-bold;
  text-align: right;
  content: counter(item) ".";
}
ol > li:nth-child(n+10)::before {
  padding-right: 1.8em;
}
